In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
s = pd.Series(np.random.randint(1,10,10))

In [8]:
s

0    5
1    2
2    6
3    1
4    1
5    8
6    2
7    4
8    1
9    8
dtype: int32

In [9]:
s.argmax

<bound method IndexOpsMixin.argmax of 0    5
1    2
2    6
3    1
4    1
5    8
6    2
7    4
8    1
9    8
dtype: int32>

In [10]:
dates = pd.date_range('20130101', periods=6)

In [11]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [13]:
df

                   A         B         C         D
2013-01-01 -0.670037  0.412447 -0.540445  0.958276
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-03  0.392205 -0.148470  0.745764  0.519683
2013-01-04 -0.814004  0.707982 -0.749365 -0.351240
2013-01-05 -0.532887 -0.591981  1.337439 -0.940435
2013-01-06 -2.043308 -0.071187  0.788198 -0.889776

In [14]:
df.head(3)

                   A         B         C         D
2013-01-01 -0.670037  0.412447 -0.540445  0.958276
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-03  0.392205 -0.148470  0.745764  0.519683

In [15]:
df.tail(2)

                   A         B         C         D
2013-01-05 -0.532887 -0.591981  1.337439 -0.940435
2013-01-06 -2.043308 -0.071187  0.788198 -0.889776

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-6.70036913e-01,  4.12446847e-01, -5.40444783e-01,
         9.58275710e-01],
       [-1.95358779e-01,  1.75760667e-03,  1.83332293e+00,
        -9.41237679e-01],
       [ 3.92204820e-01, -1.48469824e-01,  7.45764169e-01,
         5.19683304e-01],
       [-8.14004270e-01,  7.07981920e-01, -7.49365199e-01,
        -3.51240255e-01],
       [-5.32887346e-01, -5.91981206e-01,  1.33743868e+00,
        -9.40434594e-01],
       [-2.04330771e+00, -7.11870094e-02,  7.88198075e-01,
        -8.89776091e-01]])

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.643898  0.051758  0.569152 -0.274122
std    0.809319  0.454496  1.023451  0.827396
min   -2.043308 -0.591981 -0.749365 -0.941238
25%   -0.778012 -0.129149 -0.218893 -0.927770
50%   -0.601462 -0.034715  0.766981 -0.620508
75%   -0.279741  0.309775  1.200129  0.301952
max    0.392205  0.707982  1.833323  0.958276

In [20]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.958276 -0.540445  0.412447 -0.670037
2013-01-02 -0.941238  1.833323  0.001758 -0.195359
2013-01-03  0.519683  0.745764 -0.148470  0.392205
2013-01-04 -0.351240 -0.749365  0.707982 -0.814004
2013-01-05 -0.940435  1.337439 -0.591981 -0.532887
2013-01-06 -0.889776  0.788198 -0.071187 -2.043308

In [25]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -2.043308 -0.071187  0.788198 -0.889776
2013-01-05 -0.532887 -0.591981  1.337439 -0.940435
2013-01-04 -0.814004  0.707982 -0.749365 -0.351240
2013-01-03  0.392205 -0.148470  0.745764  0.519683
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-01 -0.670037  0.412447 -0.540445  0.958276

In [24]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-04 -0.814004  0.707982 -0.749365 -0.351240
2013-01-01 -0.670037  0.412447 -0.540445  0.958276
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-06 -2.043308 -0.071187  0.788198 -0.889776
2013-01-03  0.392205 -0.148470  0.745764  0.519683
2013-01-05 -0.532887 -0.591981  1.337439 -0.940435

In [26]:
df

                   A         B         C         D
2013-01-01 -0.670037  0.412447 -0.540445  0.958276
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-03  0.392205 -0.148470  0.745764  0.519683
2013-01-04 -0.814004  0.707982 -0.749365 -0.351240
2013-01-05 -0.532887 -0.591981  1.337439 -0.940435
2013-01-06 -2.043308 -0.071187  0.788198 -0.889776

In [27]:
df.A

2013-01-01   -0.670037
2013-01-02   -0.195359
2013-01-03    0.392205
2013-01-04   -0.814004
2013-01-05   -0.532887
2013-01-06   -2.043308
Freq: D, Name: A, dtype: float64

In [28]:
df['A']

2013-01-01   -0.670037
2013-01-02   -0.195359
2013-01-03    0.392205
2013-01-04   -0.814004
2013-01-05   -0.532887
2013-01-06   -2.043308
Freq: D, Name: A, dtype: float64

In [29]:
df

                   A         B         C         D
2013-01-01 -0.670037  0.412447 -0.540445  0.958276
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-03  0.392205 -0.148470  0.745764  0.519683
2013-01-04 -0.814004  0.707982 -0.749365 -0.351240
2013-01-05 -0.532887 -0.591981  1.337439 -0.940435
2013-01-06 -2.043308 -0.071187  0.788198 -0.889776

In [30]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.670037  0.412447 -0.540445  0.958276
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-03  0.392205 -0.148470  0.745764  0.519683

In [31]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.195359  0.001758  1.833323 -0.941238
2013-01-03  0.392205 -0.148470  0.745764  0.519683
2013-01-04 -0.814004  0.707982 -0.749365 -0.351240

In [33]:
np_array = np.random.randint(1,10,(5,5))

In [64]:
row_name = ['row1', 'row2', 'row3', 'row4', 'row5']

In [40]:
column_name = list('ABCDE')

In [76]:
df1 = pd.DataFrame(np_array, index=row_name, columns=column_name)

In [87]:
df1

      A  B  C  D  E
row1  1  6  6  2  5
row2  3  9  8  6  7
row3  7  8  1  1  1
row4  1  5  8  5  9
row5  1  3  7  3  8

In [92]:
df1[1:2]

      A  B  C  D  E
row2  3  9  8  6  7

In [80]:
df1.loc['row1',df1['row1']>4]

KeyError: 'row1'

In [93]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')